html {
  background-color: black
}

@-webkit-keyframes activated {
    from {
        -webkit-transform: rotate(0deg);
        -webkit-transform-origin: 48.5% 49%;
    }
    to {
        -webkit-transform: rotate(360deg);
        -webkit-transform-origin: 48.5% 49%;
    }
}

